.container {
 width: 100vw;               /* full viewport width */
  height: 100vh;              /* full viewport height */
  background-color: #fc8019;  /* swiggy orange */
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;   
  box-sizing: border-box;
  
}

.login-btn {
  position: absolute;
  top: 2rem;
  right: 8rem;
  background-color: black;
  color: white;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
} 
.app-btn {
  position: absolute;
  top: 2rem;
  right: 16rem;
  border: 2px solid white;       /* White border */
  background-color: #FC8019;
  color: white;
  padding: 1rem 2.5rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
} 
.corporate-url {
  position: absolute;
  top: 2rem;
  right: 34rem;
   text-decoration: none;
  color: white;
  padding: 1rem 2.5rem;
  font-weight: bold;
  cursor: pointer;
} 

.partnerwith-url {
  position: absolute;
  top: 2rem;
  right: 25rem;
  text-decoration: none;
  color: white;
  padding: 1rem 2.5rem;
  font-weight: bold;
  cursor: pointer;
} 

.swiggy-logo {
  position: absolute;
  left: 8rem;
  height: 150px;
  width: 150px;
  border-radius: 8px;
  object-fit: contain;
}

.swiggy-logo-fruit {
  position: absolute;
  top:6rem;
 
  height: 500px;
  width: 250px;
   
}
.swiggy-logo-suchi {
  position: absolute;
  top:6rem;
  right: 0;
  height: 500px;
  width: 250px;
   
}
.centered-text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.delivery-location {
  position: absolute;
  top: 20rem;
  left: 18rem;
  height: 30px;
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 15px;
  text-indent: 30px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-restaurant {
  position: absolute;
  top: 20rem;
  left: 36rem;
  height: 30px;
  width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 15px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.food-delivery-form {
  position: absolute;
  top:25rem;
  left: 10rem;
   height: 350px;
  width: 350px;
}
.insta-mart-form {
  position: absolute;
  top:25rem;
  left: 32rem;
   height: 350px;
  width: 350px;
}

.dine-out-form {
  position: absolute;
  top:25rem;
  right: 8rem;
   height: 350px;
  width: 350px;
}

 .location-icon{
  position: absolute;
  top: 20.2rem;
  left: 11rem;
  height: 25px;
  width: 250px;
  padding: 10px;
  color:#fc8019 ;
 }
         
